:root {
  --primary-bg: #fff;
  --secondary-bg: #e2e8f0;
  --primary-color: #1992D4;
  --border-color: #F0B429;
  --container-border-radius: 10px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 180px 1fr;
}

.profile {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.header {
  max-height: 180px;
  padding: 20px;
  display: grid;
  row-gap: 20px;
  grid-template: 2fr/ 1fr;
  grid-column-start: 2;
  grid-row-start: 1;
}

.header--up {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-flow: column;
}

.up--searchbar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchbar--input {
  width: 60%;
  border-radius: 15px;
  background-color: var(--secondary-bg);
  padding: 5px 10px;
  border: none;
}

.up--profile {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
  align-items: center;
}

.profile--notification {
  width: 30px;
}

.profile--name {
  font-weight: bold;
}

.profile--picture {
  width: 50px;
  height: 50px;
}

.searchbar--input:focus {
  outline: none;
}

.searchbar--icon {
  width: 30px;
}

.header--down {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.down--welcoming {
  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: auto 1fr;
}

.welcoming--profile {
  width: 70px;
  height: 70px;
}


.welcoming--greeting h3 {
  margin-top: 8px;
}

.buttons--button {
  margin-right: 20px;
  padding: 10px 30px;
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-bg);
  font-weight: bold;
  border-radius: 20px;
}

.sidebar {
  padding-left: 30px;
  display: grid;
  align-content: start;
  row-gap: 20px;
  grid-column-start: 1;
  grid-row: 1 / span 2;
  background-color: var(--primary-color);
}

.sidebar--logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
}

.logo--name {
  color: var(--primary-bg);
}

.sidebar--logo>img {
  width: 80px;
  filter: invert();
}

.main {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-start: 2;
  column-gap: 25px;
  background: var(--secondary-bg);
}


.nav--list,
.help--list {
  padding: 0;
  list-style: none;
}

.nav--list li,
.help--list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--primary-bg);
  font-weight: bold;
}


li>img {
  width: 30px;
  filter: invert();
  margin-right: 15px;
}

.project--icons img {
  width: 30px;
}

.projects--title {
  margin: 0;
  margin-bottom: 10px;
}

.projects--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.grid--project {
  padding: 20px;
  display: grid;
  border-radius: var(--container-border-radius);
  background: var(--primary-bg);
  border-left: 6px solid var(--border-color);
}

.grid--project>h4 {
  margin-bottom: 5px;
}

.project--icons {
  justify-self: end;
}

.grid--project>p {
  margin-top: 0;
}

.news--container {
  margin-bottom: 20px;
}

.news--container,
.info--trends {
  padding: 10px;
  background: var(--primary-bg);
  border-radius: var(--container-border-radius);
}

.container--article:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.098);
}

.container--article>h5 {
  font-size: .9rem;
  margin-bottom: 5px;
}

.container--article>p {
  font-size: .8rem;
}

.news--title {
  margin-top: 0;
  margin-bottom: 10px;
}

.profiles--profile {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 10px;
}

.info--trending {
  margin-bottom: 10px;
}

.profiles--profile h6 {
  font-size: .9rem;
  font-weight: 500;
  display: grid;
  margin: 0;
  color: rgba(0, 0, 0, 0.492);
}

h6>span {
  color: black;
  font-weight: 300;
}

.profiles--profile:last-child {
  margin-bottom: 0;
}